body{
    background-color: #FBF3B9;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 100px);
}

.box{
    height: 100px;
    border: 2px solid #B7B1F2;
}
